<div class="author">
    <h1 class="author__heading">Author: Kiarra Bowen</h1>
    <p class="author__body">My Name is Kiarra, this is my blog where I tell you to eat your clothes and wash your computer! </p>
</div>

<img src="img/x" alt="picturedescription">

<section class="articles">
    <h2 class="articles__heading">Latest Post</h2>
 

    <!-- Dummy Data placeholder-->
    <ul class="article-ul">
        <li>
            <a href="/x">
                <span>Eating Your Clothes</span>
                <span class="article-list__date">Date</span>
                <p class="article-description">Eat old shirts first, but make sure they're dusty!</p>
            </a>
        </li>
    </ul>



    <a href="x" class="pagination">
        &lt; View Older Posts!
    </a>
</section>